include ../includes/header.pug


  <body>
    section
      .grid
        .unit.whole
          .blurb-post

      .grid
        .unit.half
          div
            h1  01. Must-know web development tech
            <iframe width="860" height="615" src="https://www.youtube.com/embed/sBzRwzY7G-k?list=PLTFBDMtfpIkzv3umAvLJ6pvmwvjR-KvgS&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            p.sub-title-post Welcome to a place where eveyday, I will try to share a bit about my learning experiences. Let's begin!















include ../includes/footer.pug
